.hero-svg-wrapper {
  display: grid;
  position: relative;
  grid-template-areas: "a a a" "b c d" "e e e";
  gap: 1rem;
  width: fit-content;
}

#hero-svg {
  grid-area: c;
  width: 30rem;
}

#top-circle {
  stroke-dasharray: 1109;
  stroke-dashoffset: 1109;

  animation: animate 16s ease infinite;
}

.dot {
  opacity: 0;
}

@keyframes animate {
  7.4% {
    stroke-dashoffset: 831.75;
  }

  20% {
    stroke-dashoffset: 831.75;
  }

  27.4% {
    stroke-dashoffset: 554.5;
  }

  40% {
    stroke-dashoffset: 554.5;
  }

  47.4% {
    stroke-dashoffset: 277.25;
  }

  60% {
    stroke-dashoffset: 277.25;
  }

  67.4% {
    stroke-dashoffset: 0;
  }

  80% {
    stroke-dashoffset: 0;
  }

  87.4% {
    stroke-dashoffset: -1109;
  }

  100% {
    stroke-dashoffset: -1109;
  }
}

.dot-text {
  position: absolute;
  font-size: 2rem;
  font-weight: 600;
}

.bottom-dot-text,
.top-dot-text {
  justify-self: center;
}

.top-dot-text {
  align-self: end;
}

.left-dot-text {
  align-self: center;
  justify-self: end;
}

.right-dot-text {
  align-self: center;
  justify-self: start;
}

.bottom-dot-text {
  grid-area: e;
}

.left-dot-text {
  grid-area: b;
}

.top-dot-text {
  grid-area: a;
}

.right-dot-text {
  grid-area: d;
}

#bottom-dot,
.bottom-dot-text {
  animation: bottom-dot-anim 16s infinite;
}

@keyframes bottom-dot-anim {
  0% {
    opacity: 0;
  }

  7.39% {
    opacity: 0;
  }

  7.4% {
    opacity: 1;
  }

  81.84% {
    opacity: 1;
  }

  81.85% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

#top-dot,
.top-dot-text {
  animation: top-dot-anim 16s linear infinite;
}

@keyframes top-dot-anim {
  0% {
    opacity: 0;
  }

  47.39% {
    opacity: 0;
  }
  47.4% {
    opacity: 1;
  }

  83.9% {
    opacity: 1;
  }

  84% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

#left-dot,
.left-dot-text {
  animation: left-dot-anim 16s infinite;
}

@keyframes left-dot-anim {
  0% {
    opacity: 0;
  }

  27.39% {
    opacity: 0;
  }
  27.4% {
    opacity: 1;
  }

  82.9% {
    opacity: 1;
  }

  83% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

#right-dot,
.right-dot-text {
  animation: right-dot-anim 16s infinite;
}

@keyframes right-dot-anim {
  0% {
    opacity: 0;
  }

  67.39% {
    opacity: 0;
  }
  67.4% {
    opacity: 1;
  }

  79.9% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.hero-svg-icon {
  width: 7rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.hero-svg-plan-icon {
  animation: hero-svg-plan-icon-anim 16s infinite;
}

@keyframes hero-svg-plan-icon-anim {
  0% {
    opacity: 0;
  }

  7.39% {
    opacity: 0;
  }

  7.4% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }

  27.3% {
    opacity: 0;
  }
}

.hero-svg-design-icon {
  animation: hero-svg-design-icon-anim 16s infinite;
}

@keyframes hero-svg-design-icon-anim {
  0% {
    opacity: 0;
  }

  27.3% {
    opacity: 0;
  }

  27.4% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  47.3% {
    opacity: 0;
  }
}

.hero-svg-build-icon {
  animation: hero-svg-build-icon-anim 16s infinite;
}

@keyframes hero-svg-build-icon-anim {
  0% {
    opacity: 0;
  }

  47.3% {
    opacity: 0;
  }

  47.4% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  67.3% {
    opacity: 0;
  }
}

.hero-svg-repeat-icon {
  animation: hero-svg-repeat-icon-anim 16s infinite;
}

@keyframes hero-svg-repeat-icon-anim {
  0% {
    opacity: 0;
  }

  67.3% {
    opacity: 0;
  }

  67.4% {
    opacity: 1;
  }

  79.9% {
    opacity: 1;
  }

  80% {
    opacity: 0;
  }
}
