:root {
  --primary-color-400: #fff;

  --primary-color-500: #f6f9fc;
  --primary-color-700: #0a2540;
  --primary-color-600: #556c83;
  --accent-color: #1a73e8;
  --secondary-accent-color: #065fd4;
  --accent-color-hover: #1969d3;
  --primary-color-700-hover: #0c2b4b;

  --section-orizontal-padding: 17vw;
  --section-vertical-padding: 80px;
  --nav-height: 7rem;

  --one-hundred-viewport-height: calc(var(--vh, 1vh) * 100);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.2s ease;
  transition-property: background-color, fill;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: var(--primary-color-500);
  font-family: "Source Sans Pro", "sans-serif";
}

.go-up-button {
  position: fixed;
  right: calc(var(--section-orizontal-padding) / 2 - 2.5rem);
  bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  background: var(--accent-color);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s ease all;
  z-index: 1000;
}

.go-up-button.hidden {
  visibility: hidden;
  opacity: 0;
  transform: translateY(10rem);
}

.go-up-button:hover {
  background: var(--accent-color-hover);
}

.go-up-button svg {
  fill: var(--primary-color-400);
  width: 2.2rem;
  height: 2.2rem;
}

#contact-message::-webkit-scrollbar {
  background: #afd7ff;
  border-radius: 0 0.5rem 0.5rem 0;
  width: 1rem;
}

#contact-message::-webkit-scrollbar-thumb {
  background: #3369b1;
  border-radius: 10rem;
}

#contact-message::-webkit-scrollbar-thumb:hover {
  background: #3875c4;
  cursor: default !important;
}

main,
body {
  overflow-x: hidden;
}

.arrow-svg {
  transform: translateX(0px);
  width: 1em;
  height: 1em;
  margin-left: 0.3rem;
}

.arrow-svg,
.arrow-svg .moving-path {
  transition: 0.2s ease all;
}

.arrow-svg .moving-path {
  stroke-dasharray: 10;
  stroke-dashoffset: -10;
}

.hero-cta:hover .arrow-svg .moving-path,
.featured-project-link:hover .moving-path,
#contact-form-button:hover .moving-path {
  stroke-dashoffset: 0;
}

.hero-cta:hover .arrow-svg,
.featured-project-link:hover .arrow-svg,
#contact-form-button:hover .arrow-svg {
  transform: translateX(4px);
}

a {
  text-decoration: none;
}

a,
span {
  display: inline-block;
}

button {
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  background: none;
}

section {
  padding: var(--section-vertical-padding) var(--section-orizontal-padding);
}

section:not(:first-of-type) {
  background: var(--primary-color-500);
}

@keyframes hero-section-anim {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--section-orizontal-padding);
  background: var(--primary-color-400);
  height: var(--nav-height);
  z-index: 2000;
}

.logo {
  width: 3.5rem;
  height: auto;
}

.nav-links {
  position: relative;
  z-index: 1000;
  display: flex;
  gap: 3rem;
  list-style-type: none;
}

.nav-link a svg,
.nav-link a::after,
.nav-link a::before {
  pointer-events: none;
}

.nav-link a {
  pointer-events: all;
}

.nav-link svg {
  display: none;
}

.nav-menu-open {
  transform: translateX(0) !important;
  visibility: visible !important;
}

.nav-link {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link a::after {
  content: attr(data-hover);
  color: var(--primary-color-700);
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  max-width: 0;
  transition: 0.4s cubic-bezier(0.4, 1.14, 1, 0.98) max-width;
}

.nav-link a:hover::after {
  max-width: 100%;
}

.nav-link a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: var(--primary-color-700);
  transform-origin: left;
  transform: scaleX(0);
  transition: 0.4s cubic-bezier(0.4, 1.14, 1, 0.98) transform;
}

.nav-link a:hover::before {
  transform: scaleX(1);
}

.nav-link a {
  position: relative;
  color: var(--primary-color-700);
  display: flex;
  align-items: center;
}

.nav-link a svg {
  height: 1.6rem;
  margin-right: 0.5rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
  background: linear-gradient(
      to right,
      rgb(108 171 255 / 85%),
      rgb(108 171 255 / 85%)
    ),
    url(svg/hero-bg.svg);
  width: 100%;
  z-index: 1;
  height: calc(100vh - var(--nav-height));
  height: calc(var(--one-hundred-viewport-height) - var(--nav-height));
  padding: 0 var(--section-orizontal-padding);
}

#hero-svg {
  width: auto;
  height: 45%;
  margin-bottom: -3px;
}

.hero-section-margin {
  margin-top: var(--nav-height);
}

.hero-section-socials {
  position: absolute;
  left: calc((var(--section-orizontal-padding) / 2) - 2.25rem);
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hero-section-socials a {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background: var(--primary-color-400);
  color: var(--primary-color-700);
  display: grid;
  place-content: center;
  transition: 0.2s ease background-color;
}

.hero-section-socials a:hover {
  background: var(--accent-color);
  color: var(--primary-color-400);
}

.hero-section-socials svg {
  width: 2rem;
  height: 2rem;
}

.hero-section-socials span {
  width: 2px;
  height: 8rem;
  background: var(--primary-color-400);
}

.hero-presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  height: 45%;
  width: 100%;
}

.hero-presentation h1 {
  color: var(--primary-color-700);
  font-size: 6.5rem;
  font-weight: 900;
}

.hero-presentation p {
  color: var(--primary-color-700);
  font-size: 2.7rem;
  margin: 1.5rem 0 4rem;
}

.hero-cta {
  padding: 2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  transition: 0.2s ease;
  transition-property: border-color color;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.hero-projects-cta {
  background: var(--accent-color);
  color: var(--primary-color-400);
}

.hero-contact-cta {
  color: var(--primary-color-700);
  background: var(--primary-color-400);
  margin-left: 1.3rem;
}

.hero-projects-cta:hover {
  background: #1b5bc4;
}

.hero-contact-cta:hover {
  color: var(--accent-color);
}

.section-title {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color-700);
}

.section-title {
  margin-bottom: var(--section-vertical-padding);
}

#projects .section-title {
  margin-bottom: 0;
}

#projects {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
  gap: var(--section-vertical-padding);
}

.featured-project-info-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2000;
}

.visible {
  display: flex;
}

.featured-project-info-modal {
  position: relative;
  background: var(--primary-color-500);
  border-radius: 0.5rem;
  padding: 4rem 2rem 2rem 2rem;
  width: 50rem;
  width: 50rem;
  transform: translateY(20%);
  animation: info-modal-anim 0.3s ease forwards;
}

@keyframes info-modal-anim {
  100% {
    transform: translateY(0);
  }
}

.featured-project-info-modal .close-modal {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: grid;
  place-content: center;
  width: 3rem;
  height: 3rem;
  background: var(--accent-color);
  border-radius: 50%;
  cursor: pointer;
}

.featured-project-info-modal .close-modal svg {
  pointer-events: none;
  width: 2.2rem;
  height: 2.2rem;
  fill: var(--primary-color-400);
}

.featured-project-info-technologies h3 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--primary-color-700);
}

.featured-project-info-technologies div {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.featured-project-info-technologies span {
  padding: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--primary-color-600);
  font-weight: 600;
  border-radius: 0.5rem;
  background: var(--primary-color-400);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.featured-project {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  position: relative;
}

.featured-project-left {
  flex-direction: row;
}

.featured-project-right {
  flex-direction: row-reverse;
}

.featured-project-img {
  width: 549px;
  max-width: 549px;
  height: auto;
  height: fit-content;
  border-radius: 1rem;
}

.featured-project-details {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.featured-project-name-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.5rem;
  line-height: 0;
}

.featured-project-name-wrapper button {
  display: flex;
  align-items: center;
  font-size: inherit;
  cursor: pointer;
}

.featured-project-name-wrapper button svg {
  width: 2.2rem;
  height: 2.2rem;
  stroke: var(--accent-color);
  pointer-events: none;
}

.featured-project-name {
  color: var(--primary-color-700);
}

.featured-project-links {
  display: flex;
  gap: 1rem;
}

.featured-project-link {
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  position: relative;
  padding: 1.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.6rem;
  border: 2px solid var(--accent-color);
  transition: 0.2s ease background-color;
}

.featured-project-live-link {
  background: var(--accent-color);
  color: var(--primary-color-400);
}

.featured-project-live-link:hover {
  background: var(--accent-color-hover);
  border-color: var(--accent-color-hover);
}

.featured-project-code-link {
  background: none;
  color: var(--accent-color);
}

.featured-project-code-link:hover {
  background: #1969d311;
}

.featured-project-description {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  color: var(--primary-color-600);
}

.about-section {
  position: relative;
  background: #eaf3ff !important;
}

.skills-tech-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.skills-tech-wrapper .tech {
  text-transform: uppercase;
  font-size: 1.7rem;
  border-radius: 0.5rem;
  background: var(--primary-color-400);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: var(--primary-color-700);
  font-weight: 600;
  padding: 1rem;
}

.about-section-content {
  display: flex;
  z-index: 5;
  gap: 10rem;
}

.about-section-content h2 {
  color: var(--primary-color-700);
  font-size: 3rem;
  margin-bottom: 3rem;
}

.about-section-about-wrapper,
.about-section-skills-wrapper {
  z-index: 5;
  flex: 1;
}

.about-section-about-wrapper p {
  color: var(--primary-color-600);
  font-size: 1.9rem;
  line-height: 1.6;
}

.message-sent {
  position: fixed;
  left: 50%;
  width: fit-content;
  transform: translateX(-50%);
  background: var(--primary-color-400);
  color: var(--primary-color-700);
  font-weight: 600;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  border-left: 5px solid var(--accent-color);
  font-size: 2rem;
  padding: 2rem 2.5rem;
  border-radius: 0.5rem;
  bottom: 3%;
  animation: message-sent-anim 0.4s ease forwards;
  z-index: 100;
}

@keyframes message-sent-anim {
  0% {
    opacity: 0;
    transform: translateY(45%) translateX(-50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%) translateX(-50%);
  }
}

.contact-section {
  display: flex;
  flex-direction: column;
}

.contact-form-wrapper {
  width: 100%;
}

.contact-form {
  display: grid;
  grid-template-areas: "a b c" "d d d" "e e e" "f f f";
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  flex-direction: column;
  width: 100%;
}

.contact-form .select-wrapper,
.contact-form select {
  width: 100%;
}

.contact-form .select-wrapper {
  position: relative;
}

.contact-form select {
  cursor: pointer;
}

.contact-form .select-wrapper::after {
  content: "";
  position: absolute;
  right: 1.2rem;
  top: calc(50% + 3.5px);
  transform: translateY(-50%);
  pointer-events: none;
  border: 7px solid transparent;
  border-radius: 2px;
  border-top-color: var(--primary-color-700);
}

.contact-form select {
  appearance: none;
}

.input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-wrapper:nth-of-type(1) {
  grid-area: a;
}

.input-wrapper:nth-of-type(2) {
  grid-area: b;
}
.input-wrapper:nth-of-type(3) {
  grid-area: c;
}

.input-wrapper:nth-of-type(4) {
  grid-area: d;
}

.contact-form input,
.contact-form select,
#contact-message {
  background: var(--primary-color-400);
  color: var(--primary-color-700);
  font-weight: 400;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1.8rem 1.6rem;
  outline: 2px solid transparent;
  transition: 0.4s ease outline-color;
}

.contact-form input,
#contact-message,
.contact-form label,
.contact-form input::placeholder,
#contact-message::placeholder,
.socials h4,
.contact-form select {
  font-size: 1.9rem;
}

.contact-form input:focus,
#contact-message:focus,
.contact-form select:focus {
  outline-color: #c1e0ff;
}

.contact-form input::placeholder,
#contact-message::placeholder {
  color: #b3b3b3;
}

.contact-form label {
  font-weight: 600;
  margin-bottom: 1.2rem;
  color: var(--primary-color-700);
}

#contact-form-button {
  grid-area: e;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  font-weight: 600;
  width: fit-content;
  background: var(--accent-color);
  color: var(--primary-color-400);
  text-transform: uppercase;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 2rem;
  transition: 0.2s ease background-color;
}

#contact-message {
  resize: none;
  height: 30rem;
}

.socials {
  grid-area: f;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.socials h4 {
  font-weight: 600;
  color: var(--primary-color-700);
}

.socials span {
  width: 5rem;
  height: 1px;
  background: var(--primary-color-700);
}

.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  color: var(--primary-color-400);
  border-radius: 50%;
  background: var(--accent-color);
}

#contact-form-button:hover,
.socials a:hover {
  background: var(--accent-color-hover);
}

.socials a svg {
  width: 1.8rem;
  height: 1.8rem;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
  padding: 3rem var(--section-orizontal-padding);
  position: relative;
  width: 100%;
  border-top: 1px solid #dbeaff;
}

footer p {
  color: var(--primary-color-600);
  font-weight: 400;
  width: 100%;
  font-size: 1.7rem;
}

.hero-section-anim-element {
  transform: translateY(50%);
  opacity: 0;
}

@media (max-width: 1650px) {
  :root {
    --section-orizontal-padding: 12vw;
  }
}

@media (max-width: 1250px) {
  :root {
    --section-orizontal-padding: 7vw;
  }

  .hero-section-socials {
    left: var(--section-orizontal-padding);
  }
}

@media (max-width: 1100px) {
  .about-section-content {
    flex-direction: column;
    gap: 5rem;
  }
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  right: var(--section-orizontal-padding);
  z-index: 30;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background: var(--accent-color);
  z-index: 1100;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  transition: 0.3s cubic-bezier(0.4, 1.14, 1, 0.98) all;
  display: none;
}

.menu-button.open span::after {
  transform: translateY(-6px) rotate(45deg);
}

.menu-button.open span::before {
  transform: translateY(6px) rotate(-45deg);
}

.menu-button.open span {
  background: transparent;
}

.menu-button-icon {
  position: relative;
}

.menu-button-icon,
.menu-button-icon::after,
.menu-button-icon::before {
  display: inline-block;
  width: 2rem;
  height: 0.3rem;
  background: var(--primary-color-400);
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.4, 1.14, 1, 0.98) all;
}

.menu-button-icon::after,
.menu-button-icon::before {
  content: "";
  position: absolute;
  left: 0;
  border-radius: 1px;
}

.menu-button-icon::after {
  bottom: -0.6rem;
}

.menu-button-icon::before {
  top: -0.6rem;
}

@media (min-width: 2000px) {
  html {
    font-size: 78%;
  }
}

@media (min-width: 2650px) {
  html {
    font-size: 100%;
  }
}

@media (max-width: 1300px) {
  :root {
    --section-vertical-padding: 60px;
  }

  .hero-svg-icon {
    fill: var(--primary-color-700);
    width: 5rem;
  }

  .featured-project-img {
    width: 400px;
  }

  .contact-section {
    align-items: flex-start;
  }

  .contact-form,
  .contact-form-wrapper,
  footer p {
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .hero-presentation p {
    font-size: 2.4rem;
  }

  .hero-cta {
    font-size: 1.5rem;
  }

  .hero-presentation h1 {
    font-size: 5.5rem;
  }
}

@media (max-width: 1050px) {
  .contact-form {
    grid-template-areas: "a a b b" "c c c c" "d d d d" "f f f f" "e e e e";
    grid-template-columns: auto;
  }
}

@media (max-width: 950px) {
  .nav-links {
    background: var(--primary-color-400);
    position: fixed;
    flex-direction: column;
    justify-content: flex-end;
    transform: translateX(115%);
    top: 0;
    right: 0;
    width: 30rem;
    height: 100vh;
    gap: 0;
    box-shadow: -4px 0 10px rgb(0 0 0 / 5%);
    transition: 0.3s cubic-bezier(0.4, 1.14, 1, 0.98) transform;
  }

  .nav-link a {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7rem var(--section-orizontal-padding);
    transition: 0.2s ease background-color;
  }

  .nav-link a::before,
  .nav-link a::after {
    content: none;
  }

  .nav-link:not(:last-of-type) a {
    border-bottom: 1px solid #ebebeb;
  }

  .nav-link a svg {
    display: inline-block;
    fill: #c1c1c1;
    transition: 0.2s ease all;
  }

  .nav-link a:hover {
    background: #fbfbfb;
  }

  .nav-link a:hover svg {
    fill: var(--primary-color-700);
  }

  .nav-links a {
    font-size: 1.9rem;
    color: var(--primary-color-700);
  }

  .menu-button {
    display: flex;
  }

  .hero-svg-wrapper {
    display: none;
  }

  .hero-section-socials {
    visibility: hidden;
    opacity: 0;
  }

  .section-title:first-of-type {
    display: flex;
    justify-content: center;
  }

  .featured-project {
    flex-direction: column;
  }

  .featured-project-details {
    align-items: center;
    text-align: center;
  }

  .featured-project-img {
    width: calc(549px - var(--section-orizontal-padding) * 2);
    max-width: 549px;
  }

  .featured-project:not(:last-of-type)::after {
    content: "";
    background: #daeaff;
    height: 1px;
    position: absolute;
    left: calc(var(--section-orizontal-padding) * -1);
    bottom: calc((var(--section-vertical-padding) / 2) * -1);
    width: calc(100% + var(--section-orizontal-padding) * 2);
  }

  .featured-project {
    gap: 5rem;
  }

  :root {
    --section-orizontal-padding: 5vw;
  }

  footer {
    gap: 3rem;
  }

  .go-up-button {
    right: var(--section-orizontal-padding);
  }
}

@media (max-width: 650px) {
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .featured-project-info-modal {
    width: 90%;
  }

  .featured-project-info-technologies h3 {
    font-size: 2rem;
  }

  .featured-project-info-technologies span {
    font-size: 1.4rem;
  }
}

@media (max-width: 600px) {
  .featured-project-img {
    width: 100%;
  }

  .section-title:first-of-type {
    justify-content: flex-start;
  }

  .featured-project-details {
    width: 100%;
    text-align: left;
    align-items: flex-start;
  }
}

@media (max-width: 490px) {
  :root {
    --hero-section-wave-1-height: 80;
    --hero-section-wave-2-height: 60;
    --hero-section-wave-3-height: 40;
    --section-vertical-padding: 40px;
  }

  .featured-project-link::after {
    display: none;
  }

  .nav-links {
    width: 65%;
  }

  .nav-links a {
    font-size: 1.7rem;
  }

  .logo {
    width: 2.5rem;
  }

  .hero-presentation p {
    font-size: 1.8rem;
  }

  #contact-form-button {
    font-size: 1.6rem;
  }

  .hero-cta {
    font-size: 1.4rem;
  }

  .hero-presentation h1 {
    font-size: 3rem;
  }

  .hero-presentation p {
    margin: 2rem 0 3rem;
  }

  .hero-cta {
    padding: 1.5rem;
  }

  .section-title {
    font-size: 2.2rem;
  }

  .featured-project {
    gap: 3rem;
  }

  .featured-project-details {
    gap: 2rem;
  }

  .featured-project-name-wrapper {
    font-size: 1.9rem;
  }

  .featured-project-name-wrapper button svg {
    width: 1.8rem;
    height: 1.8rem;
  }

  .featured-project-link {
    font-size: 1.4rem;
  }

  .featured-project-description {
    font-size: 1.6rem;
  }

  .skills-tech-wrapper .tech {
    font-size: 1.4rem;
  }

  .skills-tech-wrapper {
    gap: 1.3rem;
  }

  .about-section-content {
    gap: 3rem;
  }

  .about-section-content h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }

  .about-section-about-wrapper p,
  .contact-form label,
  footer h4,
  .contact-form input,
  #contact-message,
  .contact-form label,
  .contact-form input::placeholder,
  #contact-message::placeholder,
  #contact-form-button,
  .socials h4,
  .contact-form select {
    font-size: 1.6rem;
  }

  .contact-form .select-wrapper::after {
    border-width: 5px;
  }

  .socials a {
    width: 3rem;
    height: 3rem;
  }

  .socials span {
    width: 3rem;
  }

  .socials a svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  #contact-message {
    height: 20rem;
  }

  footer p {
    font-size: 1.5rem;
  }

  #contact-form-button {
    padding: 1.5rem;
  }

  footer {
    padding: 2rem var(--section-orizontal-padding);
    gap: 2rem;
  }

  .go-up-button {
    bottom: 1rem;
  }

  .menu-button,
  .go-up-button {
    width: 3.5rem;
    height: 3.5rem;
  }

  .menu-button-icon,
  .menu-button-icon::after,
  .menu-button-icon::before {
    width: 1.9rem;
  }

  .go-up-button svg {
    width: 1.7rem;
    height: 1.7rem;
  }
}

@media (max-height: 750px) and (max-width: 950px) {
  .nav-link a {
    padding: 5rem var(--section-orizontal-padding);
  }
}

@media (max-height: 600px) and (max-width: 950px) {
  .nav-link a {
    padding: 4rem var(--section-orizontal-padding);
  }
}

@media (max-height: 500px) and (max-width: 950px) {
  .nav-link a {
    padding: 3rem var(--section-orizontal-padding);
  }
}
