:root {
  --ghost-white: #fcfcff;
  --dark-blue-800: #11112a;
  --dark-blue-700: #19192e;
  --dark-blue-600: #161634;
  --dark-blue-400: #2e2e64;
  
  --light-blue-400: #c0c0ed;
  --light-blue-700: #393976;
  --light-blue-900: #2f2f66;

  --dark-theme-button-background: #414191;
  --dark-theme-button-color: #e6e6ff;
  --dark-theme-button-hover: #3a3a81;

  --light-theme-lighter-button-background: #6666e3;
  --light-theme-lighter-button-hover: #4b4bd3;
  --light-theme-darker-button-background: #5959b1;
  --light-theme-darker-button-hover: #5151a1;
  --light-theme-button-color: #fcfcff;

  --nav-fixed-dark-background: #191936;

  --hero-section-wave-1-height: 150;
  --hero-section-wave-2-height: 120;
  --hero-section-wave-3-height: 100;

  --section-orizontal-padding: 17vw;
  --section-vertical-padding: 8rem;
  --section-wave-delimitator-height: 10rem;
  --footer-wave-height: 10rem;
  --nav-height: 7rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", "sans-serif";
  background: #252546;
}

.dark-theme button:focus-visible,
.dark-theme a:focus-visible,
.light-theme button:focus-visible,
.light-theme a:focus-visible {
  outline: 3px solid #a6a6ff;
  border-radius: 5px;
}

 .dark-theme {
  background: #252546;
}

.light-theme {
  background: var(--ghost-white);
}

main,
body {
  overflow-x: hidden;
}

.stop-scrolling {
  overflow: hidden;
  touch-action: none;
}

a {
  text-decoration: none;
}

.dark-theme .nav-fixed {
  background: var(--nav-fixed-dark-background);
}

.light-theme .nav-fixed {
  background: var(--light-blue-900);
}

.light-theme .nav-fixed a,
.light-theme .nav-fixed .color-switcher-text {
  color: var(--ghost-white);
}

.light-theme .nav-fixed .nav-link-icon path {
  fill: var(--ghost-white);
}

.dark-theme .link-underline-path,
.dark-theme .nav-link-underline-path,
.dark-theme .hover-external-link-icon path,
.dark-theme .menu-button-icon path {
  stroke: var(--light-blue-400);
}

.light-theme .link-underline-path,
.light-theme .hover-external-link-icon path,
.light-theme .nav-fixed .nav-link-underline-path,
.light-theme .nav-fixed .menu-button-icon path {
  stroke: var(--ghost-white);
}

.light-theme .menu-button-icon path {
  stroke: var(--dark-blue-700);
}

.light-theme .nav-link-underline-path {
  stroke: var(--dark-blue-700);
}

.dark-theme nav a,
.dark-theme .hero-presentation,
.dark-theme .featured-project-details,
.dark-theme .featured-project-link,
.dark-theme .featured-project-name,
.dark-theme .about-section-content,
.dark-theme .color-switcher-text,
.dark-theme .contact-section,
.dark-theme .contact-form label,
.dark-theme footer {
  color: var(--light-blue-400);
}

.dark-theme .nav-link-icon path,
.dark-theme .additional-contact-info-icon,
.dark-theme .close-menu-button-icon path {
  fill: var(--light-blue-400);
}

.light-theme .nav-link-icon path {
  fill: var(--dark-blue-700);
}

.dark-theme .moon-svg {
  display: inline-block;
}

.light-theme .moon-svg {
  display: none;
}

.dark-theme .clouds {
  display: none;
}

.light-theme .clouds {
  position: absolute;
  width: 100%;
  background: url(svgs/clouds.svg);
  background-size: contain;
  height: 11rem;
  z-index: 5;
}

.dark-theme .birds-svg {
  display: none;
}

.light-theme .birds-svg {
  display: inline-block;
}

.dark-theme .hero-lighthouse-svg {
  background-image: url(svgs/hero3-svg.svg);
  z-index: -1;
}

.light-theme .hero-lighthouse-svg {
  background-image: url(svgs/day-lighthouse.svg);
  z-index: 3;
}

.dark-theme .hero-cta,
.dark-theme #contact-form-button,
.dark-theme .footer-go-up-button,
.dark-theme .message-copied,
.dark-theme .color-switcher-button {
  background: var(--dark-theme-button-background);
  color: var(--dark-theme-button-color);
}

.dark-theme .hero-cta:hover,
.dark-theme #contact-form-button:hover,
.dark-theme .additional-contact-info-social-link:hover,
.dark-theme .footer-go-up-button:hover {
  background: var(--dark-theme-button-hover);
}

.dark-theme .hero-cta-arrow-icon path,
.dark-theme .footer-go-up-button svg path,
.dark-theme .social-icon path,
.dark-theme .button-icon path {
  fill: var(--dark-theme-button-color);
}

.light-theme .hero-cta,
.light-theme .color-switcher-button {
  background: var(--light-theme-lighter-button-background);
  color: var(--light-theme-button-color);
}

.light-theme .hero-cta:hover {
  background: var(--light-theme-lighter-button-hover);
}

.light-theme #contact-form-button,
.light-theme .footer-go-up-button,
.light-theme .message-copied {
  background: var(--light-theme-darker-button-background);
  color: var(--ghost-white);
}

.light-theme #contact-form-button:hover,
.light-theme .footer-go-up-button:hover,
.light-theme .message-copied:hover,
.additional-contact-info-social-link:hover {
  background: var(--light-theme-darker-button-hover);
}

.light-theme .hero-cta-arrow-icon path,
.light-theme .footer-go-up-button svg path,
.light-theme .additional-contact-info-icon,
.light-theme .social-icon path,
.light-theme .button-icon path,
.light-theme .message-copied svg path,
.light-theme .close-menu-button-icon path {
  fill: var(--ghost-white);
}

.light-theme .featured-project-details,
.light-theme .featured-project-link,
.light-theme .featured-project-name,
.light-theme .about-section-content,
.light-theme .contact-section,
.light-theme .contact-form label,
.light-theme footer,
.light-theme .app-logo span {
  color: var(--ghost-white);
}

.dark-theme .featured-project-link-icon {
  background: url(svgs/dark-theme-link-icon.svg);
}

.dark-theme .featured-project-code-icon {
  background: url(svgs/dark-theme-github-icon.svg);
}

.dark-theme .featured-project-portofolio-link-icon {
  background: url(svgs/dark-theme-marker-icon.svg);
}

.light-theme .featured-project-link-icon {
  background: url(svgs/light-theme-link-icon.svg);
}

.light-theme .featured-project-code-icon {
  background: url(svgs/light-theme-github-icon.svg);
}

.light-theme .featured-project-portofolio-link-icon {
  background: url(svgs/light-theme-marker-icon.svg);
}

.light-theme .featured-project-name-wrapper-active::after,
.light-theme .featured-project-name-wrapper-active::before {
  background: #e6e6ff;
}

.dark-theme .featured-project-name-wrapper-active::after,
.dark-theme .featured-project-name-wrapper-active::before {
  background: var(--light-blue-400);
}

.light-theme nav a,
.light-theme .hero-presentation,
.light-theme .color-switcher-text {
  color: var(--dark-blue-700);
}

.dark-theme .projects-section,
.dark-theme .contact-section {
  background: var(--dark-blue-800);
}

.light-theme .projects-section,
.light-theme .contact-section {
  background: var(--light-blue-700);
}

.dark-theme .skill-tech {
  background: #19193e;
}

.light-theme .skill-tech {
  background: #28285a;
}

.dark-theme .about-section,
.dark-theme footer {
  background: var(--dark-blue-600);
}

.dark-theme .about-section-wave-delimitator path,
.dark-theme .footer-wave path {
  fill: var(--dark-blue-600);
}

.light-theme .about-section-wave-delimitator path,
.light-theme .footer-wave path {
  fill: var(--light-blue-900);
}

.light-theme .about-section,
.light-theme footer {
  background: var(--light-blue-900);
}

.dark-theme #contact-message,
.dark-theme .contact-form input {
  color: var(--light-blue-400);
  background: #161634;
}

.dark-theme #contact-message:focus,
.dark-theme .contact-form input:focus {
  outline: 1.5px solid #393983;
}

.dark-theme .contact-form input::placeholder,
.dark-theme #contact-message::placeholder {
  color: var(--light-blue-400);
}

.light-theme #contact-message,
.light-theme .contact-form input {
  color: var(--ghost-white);
  background: var(--light-blue-900);
}

.light-theme #contact-message:focus,
.light-theme .contact-form input:focus {
  outline: 1.5px solid #5252b5;
}

.light-theme .mail-svg-paint {
  stroke: #6666e3;
}

.light-theme .mail-svg-stroke {
  stroke: var(--ghost-white);
}

.dark-theme .mail-svg-paint {
  stroke: #5252b8;
}

.dark-theme .mail-svg-stroke {
  stroke: var(--light-blue-400);
}

.dark-theme .message-copied svg path {
  fill: var(--dark-theme-button-color);
};

a,
span {
  display: inline-block;
}

button {
  font-family: "Mulish", sans-serif;
  border: none;
  background: none;
}

@keyframes hero-section-anim {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.message-copied {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 1.2rem;
  border-radius: 5px;
  position: fixed;
  z-index: 100;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
  animation: message-copied-anim .3s ease forwards;
}

@keyframes message-copied-anim {
  100% {
    visibility: visible;
    opacity: 1;
    top: calc(var(--nav-height) + 2%);  
  }
}

.message-copied svg {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.8rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--section-orizontal-padding);
  height: var(--nav-height);
  z-index: 2000;
}

.nav-fixed {
  position: fixed;
  width: 100%;
  animation: nav-fixed 0.3s ease forwards;
  box-shadow: 4px 4px 30px rgb(0, 0, 0, 0.05);
}

.remove-nav-fixed {
  animation: remove-nav-fixed 0.3s ease forwards;
}

@keyframes nav-fixed {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes remove-nav-fixed {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.app-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  z-index: 30;
}

.app-logo svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  height: 100%;
}

.light-theme .app-logo svg path {
  fill: var(--light-theme-lighter-button-background);
}
.light-theme .nav-fixed .app-logo svg path {
  fill: var(--light-theme-darker-button-background);
}

.dark-theme .app-logo svg path {
  fill: var(--dark-theme-button-background);
}

.dark-theme .app-logo span {
  color: #e6e6ff;
}

.nav-links {
  position: relative;
  z-index: 2000;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
}

.nav-link,
.color-switcher-text {
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
}

.nav-link-underline,
.link-underline-svg {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -50%;
  stroke-width: 1.5px;
}

.nav-link-underline-path,
.link-underline-path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: .5s ease all;
}

.link-underline-path-long {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.nav-link:hover .nav-link-underline-path,
.featured-project-link:hover .link-underline-path,
.featured-project-name:hover .link-underline-path {
  stroke-dashoffset: 0;
}

.nav-link:not(:last-of-type) {
  margin-right: 3rem;
}

.nav-link a {
  display: flex;
  align-items: center;
}

.nav-link-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.7rem;
}

.hero-section {
  position: relative;
  width: 100vw;
  height: calc(100vh - var(--nav-height));
  padding: 0 var(--section-orizontal-padding);
}

.hero-section-margin {
  margin-top: var(--nav-height);
}

.hero-lighthouse-svg {
  position: absolute;
  left: var(--section-orizontal-padding);
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}

.hero-presentation-wrapper {
  display: flex;
  justify-content: flex-end;
}

.hero-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  height: calc(100vh - var(--nav-height) - var(--hero-section-wave-1-height) * 1px);
}

.hero-svg {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: -1;
}

.hero-presentation h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-presentation h1 {
  font-size: 4.5rem;
  font-weight: 900;
}

.hero-presentation p {
  font-size: 2.2rem;
  margin: 1.5rem 0 4rem;
  width: 45rem;
}

.hero-cta {
  position: relative;
  display: inline-flex;
  width: fit-content;
}

.hero-cta {
  padding: 1.5rem 1rem;
  border-radius: .5rem;
  display: inline-flex;
  align-items: center;
  transition: 0.2s ease background-color;
}

.hero-cta-text {
  font-weight: 600;
  font-size: 2rem;
}

.hero-cta-projects-icon {
  width: 2rem;
}

.hero-cta-arrow-icon {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.8rem;
}

.section-title {
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  color: var(--ghost-white);
  position: relative;
  margin-bottom: 11rem;
}

.section-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -15px;
  border-radius: 10rem;
}

.light-theme .section-projects-title::after,
.light-theme .section-contact-title::after {
  background: #27275c;
}

.light-theme .section-about-title::after {
  background: #23234e;
}

.dark-theme .section-about-title::after {
  background: #262654;
}

.dark-theme .section-title {
  color: var(--light-blue-400);
}

.dark-theme .section-projects-title::after,
.dark-theme .section-contact-title::after {
  background: #242458;
}

.section-title::before {
  content: "";
  position: absolute;
  background: #5959B1;
  width: calc(100% / 3);
  height: 9px;
  border-radius: 10rem;
  bottom: -17px;
  z-index: 1;
}

.light-theme .section-title::before {
  background: var(--light-theme-darker-button-background);
}

.dark-theme .section-title::before {
  background: var(--dark-theme-button-background);
}

.section-projects-title::before {
  left: 0;
}

.section-about-title::before {
  transform: translateX(-50%);
  left: 50%;
}

.section-contact-title::before {
  right: 0;
}

.projects-section,
.about-section,
.contact-section {
  position: relative;
  padding-left: var(--section-orizontal-padding);
  padding-right: var(--section-orizontal-padding);
}

.projects-section {
  padding-bottom: calc(var(--section-vertical-padding) + var(--section-wave-delimitator-height));
}

.hover-external-link {
  position: relative;
}

.hover-external-link-icon {
  width: 7rem;
  position: absolute;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s ease opacity;
}

.hover-external-link-icon-visible {
  opacity: 1;
  visibility: visible;
}

.featured-project {
  transform: translateY(20%);
  opacity: 0;
  display: flex;
  position: relative;
}

.featured-project-active {
  animation: featured-project-active-anim .5s ease forwards;
}

@keyframes featured-project-active-anim {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.featured-project-left {
  justify-content: space-between;
}

.featured-project-right {
  justify-content: space-between;
  flex-direction: row-reverse;
}

.featured-project-left {
  display: flex;
  justify-content: space-between;
}

.featured-project-img {
  width: 59%;
  height: auto;
}

.featured-project-name {
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  transform: translateY(-30%);
  opacity: 0;
}

.featured-project-name-active {
  animation: featured-project-name-anim .5s .6s ease forwards;
}

@keyframes featured-project-name-anim {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.featured-project-name-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin: 8rem 0 6rem 0;
}

.featured-project-name-wrapper:nth-child(2) {
  margin-top: 0;
}

.featured-project-name-wrapper-right {
  justify-content: flex-end;
}

.featured-project-name-wrapper-active::after {
  content: "";
  height: 1px;
  width: var(--section-orizontal-padding);
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scaleX(0);
  animation: featured-project-name-after-anim .6s ease forwards;
}

@keyframes featured-project-name-after-anim {
  100% {
    transform: translateY(-50%) scaleX(1);
  }
}

.featured-project-name-wrapper-active::before {
  content: "";
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0);
  animation: featured-project-name-before-anim .3s .6s ease forwards;
}

@keyframes featured-project-name-before-anim {
  100% {
    transform: translateY(-50%) scale(1);
  }
}

.featured-project-name-wrapper-left::after {
  left: calc((var(--section-orizontal-padding) * -1) - 20px);
  transform-origin: left;
}

.featured-project-name-wrapper-left:before {
  left: -20px;
}

.featured-project-name-wrapper-right::after {
  right: calc((var(--section-orizontal-padding) * -1) - 20px);
  transform-origin: right;
}

.featured-project-name-wrapper-right:before {
  right: -20px;
}


.featured-project-link {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-weight: 600;
  font-size: 1.9rem;
}

.featured-project-links {
  margin-bottom: 2rem;
}
.featured-project-link-icon,
.featured-project-code-icon,
.featured-project-portofolio-link-icon {
  width: 1.9rem;
  height: 1.9rem;
  background-repeat: no-repeat;
  margin-left: 0.8rem;
}

.featured-project-code-link {
  margin-left: 2.2rem;
}

.featured-project-description {
  font-size: 1.7rem;
  line-height: 2.4rem;
  font-weight: 400;
  margin-bottom: 4rem;
  width: 40rem;
}

.featured-project-technologies {
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  align-items: center;
}

.featured-project-tech {
  font-weight: 600;
  font-size: 1.3rem;
}

.featured-project-technologies .featured-project-tech:first-of-type {
  margin-left: 0;
}

.contact-section {
  padding-top: calc(var(--section-vertical-padding) + var(--section-wave-delimitator-height));
  padding-bottom: calc(var(--section-vertical-padding) + var(--footer-wave-height));
}

.about-section-wave-delimitator {
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--section-wave-delimitator-height);
  z-index: 1;
}

.about-section-wave-delimitator-upside {
  top: calc((var(--section-wave-delimitator-height)  - 5px) * -1);
}

.about-section-wave-delimitator-downside {
  bottom: calc((var(--section-wave-delimitator-height)  - 5px) * -1);
  transform: rotate(180deg);
}

.about-section-content {
  display: flex;
}

.skills-tech-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.skill-tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  width: 15rem;
  height: 10rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.skill-tech-icon {
  width: 3rem;
  margin-bottom: 1.2rem;
}

.about-section {
  padding-top: calc(var(--section-vertical-padding) / 2);
  padding-bottom: calc(var(--section-vertical-padding) / 2);
}

.about-section-content h2 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.about-section-about-wrapper {
  margin-left: 10rem;
}

.about-section-about-wrapper p {
  font-size: 1.7rem;
  line-height: 3rem;
}

.about-section-about-wrapper p span {
  display: inline-block;
  margin-bottom: 1.5rem;
}

.additional-contact-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: end;
  padding-right: 7.5rem;
  margin-right: 7.5rem;
}

.light-theme .additional-contact-info-container {
  border-right: 2px dashed #444493;
}

.dark-theme .additional-contact-info-container {
  border-right: 2px dashed #1c1c46;
}

.additional-contact-info-container h2 {
  font-size: 2.4rem;
}

.additional-contact-info-wrapper button {
  text-underline-offset: 5px;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 2rem;
}

.light-theme .additional-contact-info-wrapper button {
  text-decoration: underline dashed 1px var(--ghost-white);
  color: var(--ghost-white);
}

.dark-theme .additional-contact-info-wrapper button {
  text-decoration: underline dashed 1px var(--light-blue-400);
  color: var(--light-blue-400)
}

.additional-contact-info-wrapper h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.additional-contact-info-wrapper span {
  font-size: 1.6rem;
  font-weight: 400;
}

.contact-me-wrapper {
  width: 100%;
  display: flex;
}

.contact-form-wrapper span {
  font-weight: 600;
}

.contact-form-wrapper p {
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 3rem;
  width: 60rem;
  margin-bottom: 5rem;
}

.contact-form {
  display: grid;
  grid-template-areas: "a b" "c c" "d d";
  gap: 5rem;
  flex-direction: column;
  width: 60rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper:nth-of-type(1) {
  grid-area: a;
}

.input-wrapper:nth-of-type(2) {
  grid-area: b;
}

.input-wrapper:nth-of-type(3) {
  grid-area: c;
}

.contact-form input {
  height: 5rem;
  font-size: 1.7rem;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  background: none;
  border-radius: .5rem;
  outline: none;
  border: none;
  padding: 1.2rem;
}

.contact-form input::placeholder,
#contact-message::placeholder {
  font-size: 1.7rem;
}

.contact-form label {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

#contact-form-button {
  grid-area: d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
  height: 6rem;
  transition: 0.2s ease background-color;
}

.button-text {
  font-size: 2rem;
  font-weight: 600;
}

.contact-form-button-icon {
  width: 2.7rem;
  height: 2.7rem;
  margin-left: 0.7rem;
}

#contact-message {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  resize: none;
  padding: 1.2rem;
  outline: none;
  border: none;
  height: 20rem;
  font-size: 1.7rem;
  border-radius: .5rem;
}

.contact-me-social-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-repeat: none;
}

.contact-me-social-icon:not(:last-of-type) {
  margin-right: 2rem;
}

.additional-contact-info-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.additional-contact-info-email,
.phone-number {
  font-weight: 700;
  font-size: 1.6rem;
  margin-left: 1.4rem;
  margin-right: 1rem;
}

.additional-contact-info-mail-wrapper {
  margin: 3rem 0;
}

.additional-contact-info-phone-wrapper,
.additional-contact-info-mail-wrapper,
.additional-contact-info-socials-wrapper {
  display: flex;
  align-items: center;
}

.additional-contact-info-social-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  width: 4.7rem;
  height: 4.7rem;
  transition: 0.2s ease all;
}

.light-theme .additional-contact-info-social-link {
  border: 2px solid #45458f;
}

.dark-theme .additional-contact-info-social-link {
  border: 2px solid #20204e;
}

.additional-contact-info-social-link:hover {
  border: none;
}

.additional-contact-info-social-link:first-of-type {
  margin-right: 2rem;
}

.social-icon {
  width: 1.9rem;
  height: 1.9rem;
}

.contact-me-wrapper #mail-svg {
  position: absolute;
  right: calc(var(--section-orizontal-padding) * -1);
  top: 50%;
  width: 470px;
  transform: translateY(-50%);
}

.contact-me-wrapper {
  position: relative;
}

#contact-svg-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: -1000;
}

@keyframes contact-svg-path {
  100% {
    stroke-dashoffset: 0;
  }
}

#contact-svg-mail {
  transform: translate(10%, 10%);
  opacity: 0;
}

@keyframes contact-svg-mail {
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10rem;
  position: relative;
  width: 100%;
  padding-bottom: calc(var(--footer-wave-height) / 2);
}

footer div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-wave {
  position: absolute;
  height: var(--footer-wave-height);
  width: 100%;
  top: calc((var(--footer-wave-height) - .5rem) * -1);
  left: 0;
}

footer h4 {
  font-size: 1.8rem;
  font-weight: 600;
}

footer p {
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 1.5rem;
}

.footer-go-up-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease background-color;
  z-index: 1;
}

.footer-go-up-button svg {
  height: 3rem;
  width: 3rem;
}

.hero-section-anim-element {
  transform: translateY(50%);
  opacity: 0;
}

.skill-group {
  transform-origin: center;
  transform: scale(0);
  opacity: 0;
}

@keyframes skill-group-animation {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#particles {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@keyframes opp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.moon-svg {
  position: absolute;
  left: 0%;
  top: var(--nav-height);
  width: 17rem;
  height: 17rem;
  opacity: 0;
  transform: translateY(-25%) skewX(10deg);
  z-index: 10;
  animation: moon-svg-anim 2s linear forwards;
}

.birds-svg {
  display: none;
  position: absolute;
  left: 50%;
  width: 15rem;
  transform: translateX(-50%);
  top: 10rem;
  z-index: 5;
}

@keyframes moon-svg-anim {
  100% {
    opacity: 1;
    transform: translateY(0%) skew(0deg);
  }
}

#hero-wave,
#particle-canvas {
  position: absolute;
  left: 0;
  bottom: 0;
  background: transparent;
}

#hero-wave {
  z-index: 4;
}

#particle-canvas {
  z-index: 2;
}

/* COLOR SWITCHER */

.switcher-icon {
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: 2rem;
  height: 2rem;
  transform: translateX(0) rotate(0deg);
  transition: .5s ease transform;
}

.move-switcher-icon {
  transform: translateX(2rem) rotate(360deg);
}

.color-switcher-wrapper {
  display: flex;
  align-items: center;
  z-index: 10;
}

.color-switcher-button {
position: relative;
border: none;
background-color: #44449b;
border-radius: 10rem;
width: 5rem;
height: 3rem;
cursor: pointer;
z-index: 30;
}

.light-theme .nav-fixed .color-switcher-button {
  background: var(--light-theme-darker-button-background);
}

.color-switcher-text {
  margin-left: .6rem;
}

.color-switcher-button-light-background {
  background-color: #5555bd;
}

.remove-moon-spots {
  fill: none;
  fill-opacity: 0;
}

.icon-body-light-color {
  fill: #FBFF49;
}

.icon-face-light-color {
  fill: #D1D442;
}

@media (max-width: 1650px) {
  :root {
    --section-orizontal-padding: 14vw;
  }

  .skills-tech-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1500px) {
  :root {
    --section-orizontal-padding: 10vw;
  }

  .moon-svg {
    width: 14rem;
    height: 14rem;
    top: var(--nav-height);
  }

  .featured-project-img {
    width: 56%;
  }

  .featured-project-description {
    width: 30rem;
  }
}

@media (max-width: 1100px) {
  .featured-project {
    flex-direction: column-reverse;
  }

  .featured-project-description {
    width: auto;
  }

  .featured-project-img {
    width: 100%;
  }

  .featured-project-details {
    margin-bottom: 5rem;
  }

  .featured-project-name-wrapper-right:before {
    left: -20px;
  }

  .featured-project-name-wrapper-right::after {
    left: calc((var(--section-orizontal-padding) * -1) - 20px);
    transform-origin: left;
  }

  .featured-project-name-wrapper-right {
    justify-content: flex-start;
  }
}

.menu-button {
  display: flex;
  flex-direction: column;
  width: 3.3rem;
  overflow: hidden;
  cursor: pointer;
  z-index: 30;
}

.menu-button:hover .menu-button-icon {
  animation: menu-button-hover-anim 7.5s linear infinite;
}

@keyframes menu-button-hover-anim {
  100% {
    transform: translateX(-15rem);
  }
}

.menu-button-icon {
  cursor: pointer;
}

.menu-button-icon:not(:last-of-type) {
  margin-bottom: .3rem;
}

.close-menu-button {
  position: absolute;
  right: 5%;
  top: 5%;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.menu-button,
.close-menu-button {
  display: none;
}

.ham-menu-open {
  transform: translateX(0) !important;
}

.ham-menu-overlay {
  display: inline-block !important;
}

@media (max-width: 950px) {
  :root {
    --section-wave-delimitator-height: 5rem;
    --footer-wave-height: 5rem;
  }

  .nav-links {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .3);
  }

  
  .light-theme .nav-link-icon path {
    fill: var(--ghost-white);
  }
  
  .light-theme .nav-links a {
    color: var(--ghost-white);
  }

  .light-theme .nav-link .nav-link-underline-path {
    stroke: var(--ghost-white);
  }
  
  .nav-links ul {
    width: 30rem;
    height: 100%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(115%);
    transition: .2s cubic-bezier(.61,.09,.54,.97) transform;
  }

  .light-theme .nav-links ul {
    background: var(--light-blue-900);
  }

  .dark-theme .nav-links ul {
    background: var(--nav-fixed-dark-background);
  }
  
  .nav-links a {
    font-size: 1.9rem;
    color: var(--ghost-white);
  }

  .nav-link-icon {
    width: 1.9rem;
    height: 1.9rem;
  }

  .nav-link:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 7rem;
  }

  .menu-button,
  .close-menu-button {
    display: inline-flex;
  }

  .hero-lighthouse-svg {
    display: none;
  }

  .hero-presentation-wrapper {
    justify-content: flex-start;
  }

  :root {
    --hero-section-wave-1-height: 100;
    --hero-section-wave-2-height: 80;
    --hero-section-wave-3-height: 60;
  }

  footer {
    padding: calc(var(--footer-wave-height) / 2) var(--section-orizontal-padding);
    gap: 3rem;
  }

  .footer-go-up-button {
    bottom: 0;
  }
}

@media (max-width: 1300px) {
  :root {
    --section-vertical-padding: 6rem;
    
  }

  .about-section-content {
    flex-direction: column;
  }

  .skills-tech-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .about-section-about-wrapper {
    margin: 7rem 0 0 0;
  }

  .contact-me-wrapper {
    flex-direction: column-reverse;
  }

  .additional-contact-info-container,
  .additional-contact-info-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5rem;
    text-align: initial;
    padding: 7rem 0 0 0;
    margin: 7rem 0 0 0;
    margin-top: 7rem;
  }

  .contact-form {
    width: 100%;
  }

  .contact-form-wrapper p {
    width: auto;
  }

  #contact-form-button {
    width: 30rem;
  }

  .light-theme .additional-contact-info-container {
    border-right: none;
    border-top: 2px dashed #444493;
  }

  .dark-theme .additional-contact-info-container {
    border-right: none;
    border-top: 2px dashed #1c1c46;
  }

  .additional-contact-info-container h2 {
    display: none;
  }
}

@media (max-width: 650px) {
  #contact-form-button {
    width: 100%;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
}

@media (max-width: 500px) {
  :root {
    --hero-section-wave-1-height: 80;
    --hero-section-wave-2-height: 60;
    --hero-section-wave-3-height: 40;
    --section-orizontal-padding: 7vw;
    --section-vertical-padding: 4rem;
    --section-wave-delimitator-height: 3rem;
    --footer-wave-height: 3rem;
  }

  .message-copied {
    font-size: 1.6rem;
    padding: 1rem;
  }

  .message-copied svg {
    width: 1.6rem;
    height: 1.6rem;
  }

  .nav-links ul {
    width: 50%;
  }

  .nav-links a {
    font-size: 1.7rem;
  }

  .nav-link-icon {
    width: 1.7rem;
    height: 1.7rem;
  }

  .close-menu-button {
    width: 2.5rem;
    height: 2.5rem;
  }

  .hero-presentation h3,
  .hero-presentation p,
  .hero-cta-text,
  .button-text {
    font-size: 1.8rem;
  }

  .hero-cta-arrow-icon {
    width: 2rem;
    height: 2rem;
  }

  .hero-presentation h1 {
    font-size: 3rem;
  }

  .hero-presentation p {
    width: auto;
    margin: 2rem 0 3rem;
  }

  .hero-cta {
    padding: 1.2rem 0.8rem;
  }

  .moon-svg {
    width: 12rem;
    height: 12rem;
  }

  .section-title {
    font-size: 2.2rem;
    margin-bottom: 7rem;
  }

  .section-title::after {
    height: 3px;
    bottom: -10px;
  }

  .section-title::before {
    height: 8px;
    bottom: -12px;
  }

  .featured-project-name-wrapper {
    margin: 6rem 0 4rem 0;
  }

  .featured-project-name {
    margin-left: 1.5rem;
    font-size: 1.5rem;
  }

  .featured-project-link {
    font-size: 1.7rem;
  }

  .featured-project-description {
    font-size: 1.6rem;
    margin: 2rem 0;
  }

  .featured-project-link-icon,
  .featured-project-code-icon,
  .featured-project-portofolio-link-icon,
  .social-icon {
    width: 1.7rem;
    height: 1.7rem;
  }

  .featured-project-name-wrapper::after {
    left: calc(var(--section-orizontal-padding) * -1);
  }

  .featured-project-name-wrapper::before {
    left: 0;
  }

  .about-section-content h2 {
    font-size: 1.9rem;
  }

  .skills-tech-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
  }

  .skill-tech {
    width: 100%;
    height: 10rem;
    font-size: 1.3rem;
  }

  .skill-tech-icon {
    width: 2.5rem;
  }

  .about-section-about-wrapper {
    margin: 4rem 0 0 0;
  }

  .about-section-about-wrapper p,
  .contact-form-wrapper p,
  .contact-form label,
  .additional-contact-info-wrapper h3,
  footer h4 {
    font-size: 1.6rem;
  }

  .additional-contact-info-wrapper h3 {
    margin-bottom: 1.5rem;
  }

  .contact-form-button-icon {
    width: 2.4rem;
    height: 2.4rem;
  }

  #contact-message {
    height: 14rem;
  }

  #contact-form-button {
    height: 5rem;
  }

  .contact-form {
    gap: 2rem;
  }

  .additional-contact-info-container {
    padding: 4rem 0 0 0;
    margin: 4rem 0 0 0;
  }

  .additional-contact-info-wrapper span,
  .additional-contact-info-wrapper button,
  footer p {
    font-size: 1.5rem;
  }

  .additional-contact-info-social-link {
    width: 3.7rem;
    height: 3.7rem;
  }

  .footer-go-up-button {
    width: 4rem;
    height: 4rem;
  }

  .footer-go-up-button svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}









