:root {
  --ghost-white: #FCFCFF;
  --dark-blue-800: #11112A;
  --dark-blue-700: #19192E;
  --light-blue-700: #5555FF;
  --light-blue-500: #6666B7;

  --light-blue-500-hover: #59599b;
  --light-blue-500-focus: #9f9feb;
  --light-blue-700-hover: #2d2dcb;
  /* --dark-blue-700: #0a161c;
  --dark-blue-600: #0a1b24;
  --dark-blue-500: #0a222e;
  --light-blue-700: #136895;
  --light-blue-600: #95bacd;
  --light-blue-500: #64ffda; */

  --section-orizontal-padding: 17vw;
  --section-vertical-padding: 8rem;
  --section-wave-delimitator-height: 16rem;
  --nav-height: 7rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Mulish", "sans-serif";
  background: VAR(--ghost-white);
}

main,
body
   {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

nav a {
  color: var(--dark-blue-700);
}

a,
span {
  display: inline-block;
}

button {
  font-family: 'Mulish', sans-serif;
  outline: none;
  border: none;
  background: none;
}

.white-smoke {
  color: var(--white-smoke);
}

.light-blue-500 {
  color: var(--light-blue-500);
}

.section-wave-wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  overflow-x: hidden;
}

.section-wave-delimitator-svg {
  height: var(--section-wave-delimitator-height);
  transform: translateX(0);
  transition: .1s ease transform;
}

.section-wave-delimitator-upside {
  top: -15.5rem;
}

.section-wave-delimitator-downside {
  top: -1rem;
  transform: translateX(0) rotate(180deg);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--section-orizontal-padding);
  height: var(--nav-height);
}

.app-logo {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 900;
}

.app-logo span {
  color: var(--light-blue-700);
}

.logo {
  position: relative;
}

.logo .link-underline-svg {
  bottom: -35%;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
}

.nav-link {
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
}

.nav-link-underline,
.link-underline-svg {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -50%;
  stroke-width: 1.5px;
}

.nav-link-underline-path-inactive,
.link-underline-path {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: .5s ease all;
}

.link-underline-path-long {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}

.nav-link-underline-path-active {
  stroke: var(--light-blue-700);
}

.nav-link:hover .nav-link-underline-path-inactive,
.featured-project-link:hover .link-underline-path,
.featured-project-name:hover .link-underline-path,
.logo:hover .link-underline-path {
  stroke-dashoffset: 0;
}

.nav-link:not(:last-of-type) {
  margin-right: 3rem;
}

.nav-link a {
  display: flex;
  align-items: center;
}

.nav-link-icon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.7rem;
  background-repeat: no-repeat;
}

.nav-link-home-icon {
  background: url(svgs/dark-blue-home-icon.svg);
}

.nav-link-projects-icon {
  background: url(svgs/dark-blue-projects-icon.svg);
}

.nav-link-about-icon {
  background: url(svgs/dark-blue-about-icon.svg);
}

.nav-link-contact-icon {
  background: url(svgs/dark-blue-contact-icon.svg);
}

.hero-section {
  position: relative;
  width: 100vw;
  height: calc(100vh - var(--nav-height));
  padding: 0 var(--section-orizontal-padding);
}

.hero-presentation-wrapper {
  display: flex;
  justify-content: flex-end;
}

.hero-presentation {
  z-index: 3;
  color: var(--dark-blue-700);
  padding-top: 18rem;
}

.hero-svg {
  position: absolute;
  left: 0;
  width: 100%;
}

.hero-presentation h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero-presentation h1 {
  font-size: 4.5rem;
  font-weight: 900;
}

.hero-presentation p {
  font-size: 2.2rem;
  margin: 1.5rem 0 4rem;
  width: 45rem;
}

.hero-cta {
  position: relative;
  display: inline-flex;
}

.hero-cta {
  background: var(--light-blue-700);
  padding: 1.5rem;
  border-radius: 10rem;
  display: inline-flex;
  align-items: center;
  transition: .2s ease background-color;
}

.hero-cta-text {
  font-weight: 600;
  font-size: 2rem;
  color: var(--ghost-white);
}

.hero-cta-projects-icon {
  width: 2rem;
}

.hero-cta-arrow-icon {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: .8rem;
}

.hero-cta:hover {
  background: var(--light-blue-700-hover);
}

.hero-arrow-down-scroll {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
  z-index: 2;
}

.hero-arrow-down-scroll svg {
  width: 9rem;
  height: 4.5rem;
  fill: var(--ghost-white);
}

.hero-arrow-down-scroll {
  animation: hero-arrow-down-scroll 1.7s infinite alternate;
}

@keyframes hero-arrow-down-scroll {
  0% {
    transform: translateY(0%)
  }

  100% {
    transform: translateY(50%);
  }
}

.projects-section,
.about-section,
.contact-section {
  position: relative;
  padding-left: var(--section-orizontal-padding);
  padding-right: var(--section-orizontal-padding);
}

.section-title-wrapper{
  position: relative;
  display: inline-block;
}

.section-title-wrapper {
  margin-bottom: var(--section-vertical-padding);
}

.section-title-svg {
  width: 11rem;
  height: 11rem;
}

.section-title-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 2.1rem;
  height: 2.1rem;
  background-repeat: no-repeat;
  transform: translate(-50%, -50%);
}

.projects-section {
  background: var(--dark-blue-800);
  padding-bottom: var(--section-vertical-padding);
}

.featured-project {
  display: flex;
  position: relative;
}

.featured-project-left {
  justify-content: space-between;
}

.featured-project-right {
  justify-content: space-between;
  flex-direction: row-reverse;
}

.featured-project-left {
  display: flex;
  justify-content: space-between;
}

.featured-project-number {
  position: absolute;
  font-family: "Londrina Outline", sans-serif;
  font-size: 5rem;
}

.featured-project-number-left {
  left: -13rem;
}

.featured-project-number-right {
  right: -13rem;
}

.featured-project-img {
  width: 59%;
}

.featured-project-name {
  position: relative;
  font-size: 1.6rem;
  font-weight: 600;
  color: #afafe1;
}

.featured-project-name-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin: var(--section-vertical-padding) 0 6rem 0;
}

.featured-project-name-wrapper-right {
  justify-content: flex-end;
}

.featured-project-name-wrapper::after {
  content: '';
  height: 1px;
  width: var(--section-orizontal-padding);
  position: absolute;
  top: 50%;
  background: #afafe1;
  transform: translateY(-50%);
}

.featured-project-name-wrapper::before {
  content: '';
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background: #afafe1;
  position: absolute;
  top: 50%;
  background: #afafe1;
  transform: translateY(-50%);
}

.featured-project-name-wrapper-left::after {
  left: calc((var(--section-orizontal-padding) * -1) - 20px);
}

.featured-project-name-wrapper-left:before {
  left: -20px;
}

.featured-project-name-wrapper-right:before {
  right: -20px;
}

.featured-project-name-wrapper-right::after {
  right: calc((var(--section-orizontal-padding) * -1) - 20px);
}

.featured-project-link {
  position: relative;
  font-weight: 600;
  color: var(--ghost-white);
}

.featured-project-links {
  margin-bottom: 2rem;
}
.featured-project-link-icon,
.featured-project-code-icon,
.featured-project-portofolio-link-icon {
  width: 1.8rem;
  height: 1.8rem;
  background-repeat: no-repeat;
  margin-left: 0.8rem;
}

.featured-project-link-icon {
  background: url(svgs/link-icon.svg);
}

.featured-project-code-icon {
  background: url(svgs/white-github-icon.svg);
}

.featured-project-portofolio-link-icon {
  background: url(svgs/marker-icon.svg);
}

.featured-project-link {
  display: inline-flex;
  align-items: center;
  font-size: 1.8rem;
}

.featured-project-code-link {
  margin-left: 1.5rem;
}

.featured-project-description {
  font-size: 1.8rem;
  color: var(--ghost-white);
  font-weight: 400;
  margin-bottom: 2rem;
  width: 40rem;
}

.featured-project-technologies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.featured-project-tech {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--ghost-white);
}

.featured-project-delimitator {
  background: var(--ghost-white);
}

.featured-project-tech {
  margin: 0 1rem;
}

.featured-project-technologies .featured-project-tech:first-of-type {
  margin-left: 0;
}

.featured-project-delimitator {
  display: inline-block;
  width: 2px;
  height: 2px;
  border-radius: 50%;
}

.about-section {
  background: var(--dark-blue-800);
  background-image: url(svgs/about-section-background.svg);
}

.about-section,
.contact-section {
  padding-top: var(--section-vertical-padding);
  padding-bottom: var(--section-vertical-padding);
}

.about-section-skills-wrapper img {
  width: 50rem;
}

.about-section-content {
  display: flex;
}

.about-section-content h2 {
  font-size: 2.8rem;
  margin-bottom: 3rem;
  color: var(--ghost-white);
}

.about-section-about-wrapper {
  margin-left: 10rem;
}

.about-section-about-wrapper p {
  color: var(--ghost-white);
  font-size: 1.9rem;
}

.contact-section {
  background: var(--dark-blue-800);
}

.contact-section-subheader {
  color: #c8c8e9;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.contact-section-header {
  font-size: 3rem;
  color: var(--ghost-white);
}

.contact-section-header img {
  width: 2.2rem;
  height: 2.2rem;
}

.contact-me-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 52rem;
  padding: 5rem 0;
}

.contact-form input {
  height: 5rem;
  font-size: 2rem;
  padding: 0 1.2rem;
  border-radius: .5rem;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  border: none;
  outline: none;
  background: var(--ghost-white);
  transition: .1s ease outline;
}

.contact-form input, #contact-message {
  margin-bottom: 2.5rem;
}

.contact-form input::placeholder,
#contact-message::placeholder {
  color: var(--dark-blue-700);
  font-size: 1.7rem;
}

.contact-form label {
  font-size: 1.8rem;
  color: var(--ghost-white);
  font-weight: 600;
  margin-bottom: 1.2rem;
}

#contact-form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  cursor: pointer;
  background: var(--light-blue-500);
  height: 6rem;
  transition: .2s ease background-color;
}

.button-text {
  font-size: 2rem;
  font-weight: 600;
  color: var(--ghost-white);
}

.button-svg {
  background-image: url(svgs/white-arrow-right.svg);
  background-repeat: no-repeat;
  width: 2.7rem;
  height: 2.7rem;
  margin-left: .7rem;
}

#contact-form-button:focus,
.additional-contact-info-social-link:focus {
  outline: 3px solid var(--light-blue-500-focus);
}

#contact-form-button:hover,
.additional-contact-info-social-link:hover {
  background: var(--light-blue-500-hover);
}

#contact-message {
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  resize: none;
  padding: 1.2rem;
  border: none;
  outline: none;
  height: 14rem;
  color: var(--white-smoke);
  font-size: 2rem;
  background: var(--ghost-white);
  border-radius: .5rem;
  transition: .2s ease outline;
}

#contact-message::-webkit-scrollbar {
  display: none;
}

#contact-message:focus,
.contact-form input:focus {
  outline: 3px solid var(--light-blue-500);
}

.contact-me-social-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  background-repeat: none;
}

.contact-me-social-icon:not(:last-of-type) {
  margin-right: 2rem;
}

.additional-contact-info-wrapper {
  padding: 10rem 6rem;
  margin-left: 6rem;
  border-left: 2px solid #1a1a38;
}

.additional-contact-info-icon {
  width: 2.4rem;
  height: 2.4rem;
}

.additional-contact-info-email,
.phone-number {
  color: var(--ghost-white);
  font-weight: 700;
  font-size: 1.6rem;
  margin-left: 1.4rem;
}

.additional-contact-info-mail-wrapper {
  margin: 3rem 0;
}

.additional-contact-info-phone-wrapper,
.additional-contact-info-mail-wrapper,
.additional-contact-info-socials-wrapper {
  display: flex;
  align-items: center;
}

.additional-contact-info-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--light-blue-500);
  border-radius: 50%;
  width: 3.7rem;
  height: 3.7rem;
  transition: .2s ease all;
  border: none;
}

.additional-contact-info-social-link:first-of-type {
  margin-right: 2rem;
}

.additional-contact-info-social-link img {
  width: 1.9rem;
  height: 1.9rem;
}

.contact-me-wrapper svg {
  position: absolute;
  right: calc(var(--section-orizontal-padding) * -1);
  top: 50%;
  width: 470px;
  transform: translateY(-50%);
}

.contact-me-wrapper {
  position: relative;
}

#contact-svg-path {
  stroke-dasharray: 1000;
  stroke-dashoffset: -1000;
  animation: contact-svg-path 1.3s ease forwards;
}

@keyframes contact-svg-path {
  100% {
    stroke-dashoffset: 0;
  }
}

#contact-svg-mail {
  transform: translate(10%, 10%);
  opacity: 0;
  animation: contact-svg-mail .7s .9s ease forwards;
}

@keyframes contact-svg-mail {
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  color: var(--ghost-white);
  background: var(--dark-blue-800);
  padding-bottom: var(--section-vertical-padding);
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-image: url(svgs/footer-background.svg);
}

footer h4 {
  font-size: 2rem;
  font-weight: 700;
}

footer p {
  font-weight: 600;
  font-size: 1.7rem;
  margin-top: 1.5rem;
}

.footer-go-up-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--section-orizontal-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-blue-500);
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s ease background-color;
}

.footer-go-up-button:hover {
  background: var(--light-blue-500-hover);
}

.footer-go-up-button svg {
  height: 3rem;
  width: 3rem;
  fill: var(--ghost-white);
}

@media (max-width: 1800px) {
  /* .featured-project-img {
    width: 65rem;
  } */

  .featured-project-number {
    font-size: 4rem;
    width: 8rem;
    height: 6.8rem;
  }
}

@media (max-width: 1650px) {
  :root {
    --section-orizontal-padding: 14vw;
  }

  /* .featured-project-img {
    width: 55rem;
  } */
}

@media (max-width: 1500px) {
  :root {
    --section-orizontal-padding: 10vw;
  }

  /* .section-title-svg {
    width: 9rem;
    height: 9rem;
  }

  .section-title-icon {
    width: 1.8rem;
    height: 1.8rem;
  } */

  .featured-project-img {
    width: 56%;
  }

  .featured-project-number {
    font-size: 3.5rem;
    width: 7rem;
    height: 6rem;
  }

  .featured-project-description {
    width: 30rem;
  }

  .featured-project-number-left {
    left: -10rem;
  }

  .featured-project-number-right {
    right: -10rem;
  }
}

@media (max-width: 1100px) {
  .featured-project-number {
    position: static;
  }

  .featured-project {
    flex-direction: column-reverse;
  }

  .featured-project-img,
  .featured-project-description {
    width: auto;
  }

  .featured-project-details {
    margin: 3rem 0 5rem;
  }

  .featured-project-number {
    font-size: 4rem;
    width: 8rem;
    height: 6.8rem;
  }
}




